{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body_custom %}
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% for article in all_articles.object_list %}
                    <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{% url 'blogs:article_detail' article.id %}">{{ article.topic }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ article.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{ article.add_time }}">{{ article.add_time }}</time></a></span>
                            <span class="post-author"><a href="#">{{ article.blog.author }}</a></span>
                            <span class="comments-link"><a href="#">{{ article.comment_nums }} 评论</a></span>
                            <span class="views-count"><a href="#">{{ article.click_nums }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p></p>
                        <div class="read-more cl-effect-14">
                            <a href="{% url 'blogs:article_detail' article.id %}" class="more-link">阅读全文 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                {% endfor %}
                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                 <div class="pageturn">
                    <ul class="pagelist">
                            {% if all_articles.has_previous %}
                                <li class="long"><a href="?{{ all_articles.previous_page_number.querystring }}">上一页</a></li>
                            {% endif %}
                            {% for page in all_articles.pages %}
                                {% if page %}
                                    {% ifequal page all_articles.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a> </li>
                                {% endif %}
                            {% endfor %}
                            {% if all_articles.has_next %}
                                <li class="long"><a href="?{{ all_articles.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}
                    </ul>
                </div>
            </main>
            <aside class="col-md-4">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                        {% for article in flash_articles %}
                            <li>
                            <a href="{% url 'blogs:article_detail' article.id %}">{{ article.topic }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        <li>
                            <a href="#">2017 年 5 月</a>
                        </li>
                        <li>
                            <a href="#">2017 年 4 月</a>
                        </li>
                        <li>
                            <a href="#">2017 年 3 月</a>
                        </li>
                        <li>
                            <a href="{% url 'blogs:blog_test_markdown' %}">Markdown</a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        {% for category in all_categorys %}
                            <li>
                                <a href="#">{{ category.name }} <span class="post-count">({{ category.get_all_follow_article_nums }})</span></a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        {% for tag in tags %}
                            <li>
                            <a href="#">{{ tag.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}