{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#<form method="POST" action="">{% csrf_token %}#}
{#    <tr>编辑</tr>#}
{#    <tr>效果</tr>#}
{#    <td>{{ form }}</td>#}
{#    <td>{{ form.media }}</td>#}
{#</form>#}
{##}
{##}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="UTF-8">
	<title>Basic Panel - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'themes/default/easyui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'themes/icon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'demo.css' %}">
	<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery.easyui.min.js' %}"></script>


    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static "/css/jblog-admin.css" %}">
</head>
<body>
<form method="POST" action="{% url 'blogs:blog_test_markdown'%}">
    {% csrf_token %}
    {{ form }}
    {{ form.media }}
    <input class="button-form" id="submit" type="submit" value="提交文章" />
</form>
</body>
</html>